
<div class="bg-white mb-4 px-4 py-2 rounded-md shadow-sm md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
      Dossier Médical</h2>
  </div>
  <div class="mt-4 flex md:ml-4 md:mt-0">
  </div>
</div>

<div class=" shadow-md sm:rounded-lg">
  <div class= " shadow-md sm:rounded-lg  p-6">
    <div class="flex  flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
      <label for="table-search" class="sr-only">Recherche</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input
          [formControl]="searchFormControl"
          type="text" id="table-search" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Recherche patient">
      </div>
      <button id="dropdownToggleButtonPatientFilter" data-dropdown-toggle="dropdownTogglePatientFilter" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center me-2 mb-2 inline-flex items-center" type="button">
        Filtrer par groupe sanguin
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div id="dropdownTogglePatientFilter" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-52 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownToggleButtonPatientFilter">
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="null" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.Null" value="null" class="sr-only peer" >
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Valeur non définie</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_APlus" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_APlus" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">A+</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_AMoin" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_AMoin" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">A-</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_BPlus" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_BPlus" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">B+</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_BMoin" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_BMoin" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">B-</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_ABPlus" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_ABPlus" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">AB+</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_ABMoin" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_ABMoin" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">AB-</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_OPlus" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_OPlus" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">O+</span>
              </label>
            </div>
          </li>
          <li>
            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <label class="inline-flex items-center w-full cursor-pointer">
                <input name="show_OMoin" type="checkbox" (change)="changeStatusFilter()" [(ngModel)]="filterParamsVar.show_OMoin" value="" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">O-</span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- drawer component -->


    <table cdk-table [dataSource]="dataOnPage$" class="w-full text-sm text-left rtl:text-right text-gray-500 ">
      <!-- Header and Row Declarations -->
      <tr  cdk-header-row *cdkHeaderRowDef="displayedColumns$.value" class="text-xs text-gray-700 capitalize bg-gray-50"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns$.value" class="bg-white border-b hover:bg-gray-50"></tr>

      <!-- Hero Name Column -->
      <ng-container cdkColumnDef="name">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('name')">
          nom <span *ngIf="sortKey$.value === 'name'">{{ sortDirection$.value === 'asc' ? '⬆️' : '⬇️' }}</span>
        </th>
        <td class="w-4 p-2" cdk-cell *cdkCellDef="let row">
      <span class="flex items-center me-3">
          {{row.name}}
    </span>
        </td>
      </ng-container>

      <!-- Hero Types Column -->
      <ng-container cdkColumnDef="prenom">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('prenom')">
          prénom <span *ngIf="sortKey$.value === 'prenom'">{{ sortDirection$.value === 'asc' ? '⬆️' : '⬇️' }}</span>
        </th>
        <td class="w-4 p-2" cdk-cell *cdkCellDef="let row"> {{row.prenom}} </td>
      </ng-container>

      <!-- Hero Attack Column -->

      <ng-container cdkColumnDef="consultationsCount">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('consultationsCount')">
          Consultation <span *ngIf="sortKey$.value === 'consultationsCount'">{{ sortDirection$.value === 'asc' ? '⬆️' : '⬇️' }}</span>
        </th>
        <td class="w-4 p-2" cdk-cell
            *cdkCellDef="let row">
          {{row.consultationsCount}}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="examensCount">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('examensCount')">
          Examens <span *ngIf="sortKey$.value === 'examensCount'">{{ sortDirection$.value === 'asc' ? '⬆️' : '⬇️' }}</span>
        </th>
        <td class="w-4 p-2" cdk-cell
            *cdkCellDef="let row">
          {{row.examensCount}}
        </td>
      </ng-container>
      <ng-container cdkColumnDef="ordonnacesCount">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('ordonnacesCount')">
          Ordonnaces <span *ngIf="sortKey$.value === 'ordonnacesCount'">{{ sortDirection$.value === 'asc' ? '⬆️' : '⬇️' }}</span>
        </th>
        <td class="w-4 p-2" cdk-cell
            *cdkCellDef="let row">
          {{row.ordonnacesCount}}
        </td>
      </ng-container>
      <!-- Level Up Column -->
      <ng-container cdkColumnDef="Action">
        <th class="px-6 py-3 text-center" cdk-header-cell *cdkHeaderCellDef>
          Action
        </th>
        <td class="w-6 p-2 text-center" cdk-cell *cdkCellDef="let row">
          <a (click)="fiche(row.PatientId,row.name,row.prenom)" class="font-medium text-blue-600  hover:underline">Edit</a>

        </td>
      </ng-container>



    </table>

    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
      <div>
        <button id="dropdownRadioButtonUsers" data-dropdown-toggle="dropdownRadioUsers" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5" type="button">
          {{pageSize$.value}} patient par page
          <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownRadioUsers" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);">
          <ul class="p-3 space-y-1 text-sm text-gray-700" aria-labelledby="dropdownRadioButton">
            <li *ngFor="let i of [5,10,20]">
              <div class="flex items-center p-2 rounded hover:bg-gray-100" (click)="handleClick(i)">
                <input  id="filter-radio-user-{{i}}" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                <label for="filter-radio-user-{{i}}" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">{{i}} patients par page</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <label for="table-search" class="sr-only">Recherche</label>
      <div class="relative">
        <div class="float-right">
          <app-pagination
            [collectionSize]="dataSize"
            [pageSize]=pageSize$.value
            (pageChange)="changeCurrentPage($event)"
            [currentPage]=currentPage$.value
          >
          </app-pagination>
        </div>
      </div>
    </div>


  </div>
</div>
