<!-- drawer init and show -->
<div class="text-center">
  <button type="button" (click)="toEdit=undefined;fillDefault(); drawer?.show()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 ">
    Ajouter Blockage Horaire
  </button>
</div>
<!-- drawer component -->
<div id="drawer-timepicker" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-[400px] dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-timepicker-label">
  <h5 id="drawer-label" class="inline-flex items-center mb-6 text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
    Blockage Horaire
  </h5>

  <form ngNativeValidate>
    <div class="pb-6 mb-6 border-b border-gray-200 dark:border-gray-700">
      <div class="mt-4 grid grid-cols-3 items-center min-w-[4rem]">
        <label for="ddate" class="ms-2 text-sm font-medium text-gray-900">Date debut: </label>
        <input  name="startDate" [(ngModel)]="startDate" (change)="dateChanged($event)" id="ddate" type="date" class="col-span-2  me-10  rounded flex border-gray-300 items-center gap-x-1.5  bg-white h-9 px-3 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-50"/>
      </div>
      <div class="mt-4 grid grid-cols-3 items-center min-w-[4rem]">
        <label for="fdate" class="ms-2 text-sm font-medium text-gray-900">Date de fin: </label>
        <input name="endDate" [(ngModel)]="endDate" (change)="dateChanged($event)" id="fdate" type="date" class="col-span-2  me-10  rounded flex border-gray-300 items-center gap-x-1.5  bg-white h-9 px-3 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-50"/>
      </div>
      <p *ngIf="errorDate" class="mt-2 ms-2 text-sm text-red-600 dark:text-red-500">La date de début doit être avant la date de fin!</p>

      <div class="mt-4 grid grid-cols-3 items-center min-w-[4rem]">
        <label  class="ms-2 text-sm font-medium text-gray-900">Period: </label>
        <h3 class="w-full ps-2"><span class="bg-purple-100 text-purple-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">
          {{daysPeriod}} jours</span>
        </h3>      </div>
    </div>
    <div class="w-full ">
      <button (click)="setNextWeek()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-1.5 ms-2 mb-2 ">
        La semaine prochaine</button>
    </div>
    <div class="mb-6">
      <div class="w-full">
          <div class="mt-4 grid grid-cols-3  items-center min-w-[4rem]">
            <label for="start-time" class="ms-2 text-sm font-medium text-gray-900">Heure de début: </label>
            <input name="startTime" (change)="timeChanged($event)" [(ngModel)]="startTime" type="time" id="start-time" class="col-span-2 me-10 rounded border-gray-300 items-center gap-x-1.5  bg-white h-9 px-3 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-50" min="08:00"  required />
          </div>
        </div>
      <div class="w-full">
        <div class="mt-4 grid grid-cols-3 items-center min-w-[4rem]">
          <label for="end-time" class="ms-2 text-sm font-medium text-gray-900">Heure de fin: </label>
          <input name="endTime" (change)="timeChanged($event)" [(ngModel)]="endTime" type="time" id="end-time" class="col-span-2  me-10 rounded border-gray-300 items-center gap-x-1.5  bg-white h-9 px-3 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-50" required />
        </div>
      </div>
      <p *ngIf="errorTime" class="mt-2 ms-2 text-sm text-red-600 dark:text-red-500">L'heure de début doit être avant l'heure de fin!</p>
      <div class="mt-4 grid grid-cols-3 items-center min-w-[4rem]">
        <label  class="ms-2 text-sm font-medium text-gray-900">Temps: </label>
        <h3 class="w-full ps-2"><span class="bg-purple-100 text-purple-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">
          {{timePeriod}}h</span>
          </h3>
      </div>
    </div>
    <div class="w-full ">
      <button (click)="setTheDay()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-1.5 ms-2 mb-2 ">
        Toute la journée</button>
    </div>
    <div class="grid grid-cols-2 gap-4 bottom-4 left-0 w-full md:px-4 md:absolute">

      <button *ngIf="!toEdit" type="button" (click)="drawer?.hide()" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ">
        Annuler</button>


      <button *ngIf="!toEdit"  (click)="save()" type="submit" class="text-white w-full inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Ajouter
      </button>
      <button *ngIf="toEdit"  type="button" (click)="delete();" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
        Supprime</button>
      <button *ngIf="toEdit" (click)="update()"  type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Mise à jour
      </button>

    </div>
  </form>
</div>
