@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Readex Pro';
  src: url('assets/font/ReadexPro-Regular.ttf');
}

body {
  font-family:Readex Pro, sans-serif;
  background-color: #f0f0f0;
}

