<p class="text-sm mt-3 text-gray-500">1-Ajout un seul product section.</p>

<form class="mx-2" [formGroup]="formproductSection" (ngSubmit)="createProductSection()" ngNativeValidate>

  <div class="relative z-0 w-full my-3 group">
    <select #plantDropdown  formControlName="plant"
            id="plant"
            name="plant"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" >
      <option   value="" selected disabled hidden>plant</option>
      <option  *ngFor="let plant of plantName"  [value]="plant.name">
        {{plant.name}}
      </option>
    </select>
  </div>

  <div *ngIf="hided()" class="relative z-0 w-full my-3 group">
    <input type="text"
           id="productSection"
           name="productSection"
           class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="productSection" required/>
    <label for="productSection" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Product Section name</label>
  </div>

  <button type="submit" class="my-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
    Save
  </button>

</form>
