<nav class="border-gray-200 flex justify-center ">
  <ul class="flex text-sm font-bold justify-center text-center text-gray-600 border-gray-200">
    <li class="">
      <a routerLink="/home/structures/plant" routerLinkActive="bg-gray-50 border-blue-500 font-bold text-black"
         class="w-36 mx-2 inline-block px-[10px] border-b-4 p-4 rounded-t-lg hover:text-gray-800 hover:bg-gray-50">Plant</a>
    </li>
    <li class="">
      <a routerLink="/home/structures/product-section" routerLinkActive='bg-gray-50 border-blue-500 font-bold text-black'
         class="w-36 mx-2 inline-block  px-[10px] border-b-4 p-4 rounded-t-lg hover:text-gray-800 hover:bg-gray-50">Product section</a>
    </li>
    <li class="">
      <a routerLink="/home/structures/segment" routerLinkActive='bg-gray-50 border-blue-500 font-bold text-black'
         class="w-36 mx-2 inline-block px-[10px] border-b-4 p-4 rounded-t-lg hover:text-gray-800 hover:bg-gray-50">Segment</a>
    </li>
    <li class="">
      <a routerLink="/home/structures/line" routerLinkActive='bg-gray-50 border-blue-500 font-bold text-black'
         class="w-36 mx-2 inline-block px-[10px] border-b-4 p-4 rounded-t-lg hover:text-gray-800 hover:bg-gray-50">Ligne</a>
    </li>
  </ul>
</nav>
